/* Create todo styles */
:root {
  --main-: #b7ff54;
  --cardColor: #d4ff92;
  --accent1: #c6ff75;
  /* Tile color */
  --accent3: #c6ff75;
  /* Darker contrast greens */
  --pine: #235c2d;
  --darkGreen: #144d36;

  --textColor: #1a1a1a;
  --shadowColor: #3c3c3c;
}
/* The box that containers the container related elements */
.Creator {
  position: absolute;
  width: 60vh;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--cardColor);
  border: var(--darkGreen) solid 3px;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animate-border {
  animation: borderColorCycle 1.5s linear;
}

@keyframes borderColorCycle {
  0% {
    border-color: lightpink;
  }
  25% {
    border-color: lightblue;
  }
  50% {
    border-color: lightgreen;
  }
  75% {
    border-color: lightyellow;
  }
  100% {
    border-color: lightpink;
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 20px;
}

/* The button in the bottom right */
.btn_submit {
  height: 75px;
  width: 40%;
  position: relative;
  bottom: 10px;
  right: 10px;
  border-radius: 15px;
  background-color: var(--darkGreen);
  color: var(--accent1);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Roboto Mono", sans-serif;
}

/* Typing boxes */
/* Top task in parent element */
.headerTask {
  font-size: 1rem;
  font-family: "Roboto Mono", sans-serif;
  margin: 20px;
  border: none;
  border-radius: 5px;
  width: 50%;
  height: 10%;
  background-color: var(--accent1);
  outline: none;
}
.headerTask:focus {
  border: 3px solid var(--darkGreen);
}

/* Bottom text box */
.DescriptTask {
  font-family: "Roboto Mono", sans-serif;

  border: none;
  background-color: var(--accent1);
  border-radius: 5px;
  width: 50%;
  height: 30%;
  resize: none;
  overflow: auto;
  outline: none;
}
.DescriptTask:focus {
  border: 3px solid var(--darkGreen);
}
