:root {
  --Dark-pink: hsl(340, 76%, 50%);
  --Light-pink: hsl(355, 100%, 81%);
  --Middle-Pink: #ff577e;
  /* Pink and blue are opposite on the color wheel */
  --Dark-Blue: rgb(0, 0, 128);
  --Cyan: rgb(43, 195, 226);
  --Light-Cyan: rgb(150, 195, 226);
}
/* The creation screen for folders */
.FolderCreate {
  position: absolute;
  /* Need to adjust */
  width: 95vw;
  height: 70vh;

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: hsl(0, 5%, 15%);
  color: #ffffff;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Typing boxes for the creator */
#HeaderTask {
  margin: 20px;
  border: none;
  background-color: hsla(340, 76%, 50%, 0.5);
  border-radius: 5px;
  height: 10%;
  text-align: center;
}

/* For the button that reveals the folder creator at the bottom */
#ShowFolderCreate {
  position: absolute;
  background-color: var(--Light-pink);
  height: 50px;
  width: 500px;
  border: none;
  border-radius: 5px;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* The box that containers the task name and info */
.FolderName {
  background-color: var(--Light-pink);
  border: none;
  height: 100px;
  width: 70vw;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 1s ease-in;
}
/* Changes the folder color based on true or false values(in groups.jsx) */
.FolderNameOn {
  background-color: var(--Middle-Pink);
}

.FolderName:hover {
  background-color: var(--Middle-Pink);
}
/* The folder delete button */
.FolderDelete {
  background-color: var(--Light-pink);
  border: none;
  height: 100px;
  width: 20vw;
  margin: 10px;
  border-radius: 5px;
}

/* The add button in the bottom left */
#AddFolder {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: none;
  background: radial-gradient(circle, hsl(355, 100%, 81%), hsl(340, 76%, 50%));
}
/* Clears the folder create screen */
#Clear {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  background: radial-gradient(circle, hsl(355, 100%, 81%), hsl(340, 76%, 50%));
}
