:root {
  --main-: #b7ff54;
  --cardColor: #d4ff92;
  --accent1: #c6ff75;
  /* Tile color */
  --accent3: #c6ff75;
  /* Darker contrast greens */
  --pine: #235c2d;
  --darkGreen: #144d36;

  --textColor: #1a1a1a;
  --shadowColor: #3c3c3c;
}
/* The naviagtion bar realted at the top of the page */
.ContainerHeader {
  position: relative;
  z-index: 1;
  display: flex;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 13vh;
  width: 35vw;
  background: #235c2d;
  font-size: 1rem;
}
/* Buttons contained at the top of the page */
.ContainerHeader button {
  font-size: 1em;
  font-family: "Roboto Mono", sans-serif;
  background-color: #b7ff54;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  height: 10vh;
  width: 10vh;
  border: none;
}
