:root {
  --main-: #b7ff54;
  --cardColor: #d4ff92;
  --accent1: #c6ff75;
  /* Tile color */
  --accent3: #c6ff75;
  /* Darker contrast greens */
  --pine: #235c2d;
  --darkGreen: #144d36;

  --textColor: #1a1a1a;
  --shadowColor: #3c3c3c;
}
/* The naviagtion bar realted at the top of the page */
.ContainerHeader {
  position: relative;
  height: 15vh;
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: #235c2d;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.move-nav-btn {
  position: relative;
  font-size: 1em;
  font-family: "Roboto Mono", sans-serif;
  background-color: #b7ff54;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  width: 15%;
  height: 80%;
  border: none;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .ContainerHeader {
    width: 100vw;
    height: 10vh;
    justify-content: space-around;
  }
  .move-nav-btn {
    font-size: 2rem;
  }
}
