:root {
  --main: #b7ff54;
  --cardColor: #d4ff92;
  --accent1: #c6ff75;
  /* Tile color */
  --accent3: #c6ff75;
  /* Darker contrast greens */
  --pine: #235c2d;
  --darkGreen: #144d36;

  --textColor: #1a1a1a;
  --shadowColor: #3c3c3c;
}
/* The creation screen for folders */
.FolderCreate {
  position: absolute;
  /* Need to adjust */
  width: 30vw;
  height: 15vw;

  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--cardColor);
  border: var(--darkGreen) solid 3px;
  color: #ffffff;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Typing boxes for the creator */
.HeaderTask {
  height: 25%;
  margin: 20px;
  border: none;
  background-color: var(--accent1);
  border-radius: 10px;
  font-family: "Roboto mono", sans-serif;
  text-align: center;
  outline: none;
}

.HeaderTask:focus {
  outline: 2px solid var(--pine);
}

/* For the button that reveals the folder creator at the bottom */
.ShowFolderCreate {
  position: absolute;
  background-color: var(--pine);
  height: 50px;
  width: 500px;
  border: none;
  border-radius: 10px;
  bottom: -25px;
  left: 50%;
  color: var(--main);
  transform: translate(-50%, -50%);
}
/* The box that containers the task name and info */
.FolderName {
  background-color: var(--accent1);
  border: none;
  height: 100px;
  width: 70vw;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 1s ease-in;
}
/* Changes the folder color based on true or false values(in groups.jsx) */
.FolderNameOn {
  background-color: var(--pine);
}

.FolderName:hover {
  background-color: var(--pine);
}
/* The folder delete button */
.FolderDelete {
  background-color: var(--accent1);
  border: none;
  height: 100px;
  width: 20vw;
  margin: 10px;
  border-radius: 5px;
}

.action_btn {
  background-color: var(--pine);
  border: none;
  width: 100%;
  color: var(--main-);
  font-family: "Roboto Mono", sans-serif;
  font-size: 1rem;
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
}
