:root {
  --Dark-pink: hsl(340, 76%, 50%);
  --Light-pink: hsl(355, 100%, 81%);
  --Middle-Pink: #ff577e;
  /* Pink and blue are opposite on the color wheel */
  --Dark-Blue: rgb(0, 0, 128);
  --Cyan: rgb(43, 195, 226);
  --Light-Cyan: rgb(150, 195, 226);
}

/* Container that holds the LogSingin box */
.LogSignContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh; /* 100% - 12vh */
  width: 100vw;
}

/* The visable box that contains the text boxes */
.LogSignPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 65vh;
  background: linear-gradient(to bottom, var(--Dark-pink), var(--Cyan));
  border-radius: 15px;
  overflow: hidden;
}

.LogSignPage::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid transparent;
  border-image: linear-gradient(to right, var(--Dark-pink), var(--Cyan)) 1;
  border-radius: 15px;
  pointer-events: none;
}

/* The Input is the text boxes the are used to send the username and password */

.Input {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 13%;
}

.Input input {
  border-radius: 2.5px;
  flex: 1;
  border: 5px solid transparent;
  background-color: var(--Middle-Pink);
  margin: 10px 0;
  box-shadow: 0 8px 16px var(--Dark-pink);
}
/* The switch button */
.Switch {
  background-color: var(--Middle-Pink);
  margin: 10px;
  border: none;
  border-radius: 5px;
  height: 10%;
  width: 10%;
}
/* The button that either logs the user in or signs them up */
.loginOrSign {
  height: 10%;
  width: 20%;
  background-color: var(--Cyan);
  border: 2.5px solid var(--Middle-Pink);
  border-radius: 5px;
  margin: 10px;
}
/* Background spining cubes */
.AniWrap span {
  position: fixed;
  bottom: -180px;
  height: 50px;
  width: 50px;
  z-index: -1;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 50px var(--Dark-pink), 0 0 100px var(--Dark-pink),
    0 0 150px var(--Dark-pink), 0 0 200px var(--Dark-pink);
  animation: animate 10s linear infinite;
}

.AniWrap span:nth-child(1) {
  left: 10%;
  animation-delay: 1s;
  width: 80px;
  height: 80px;
}

.AniWrap span:nth-child(2) {
  left: 30%;
  animation-delay: 0.5s;
  width: 50px;
  height: 50px;
}

.AniWrap span:nth-child(3) {
  left: 50%;
  animation-delay: 5s;
  width: 130px;
  height: 130px;
}

.AniWrap span:nth-child(4) {
  left: 80%;
  animation-delay: 0.5s;
  width: 50px;
  height: 50px;
}

.AniWrap span:nth-child(5) {
  left: 100%;
  animation-delay: 1.5s;
  width: 100px;
  height: 100px;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}
/* Animations to notifiy the user if something was successful */
.AnimatePulseRed {
  animation: PulseRed 3s ease-in-out;
}

.AnimatePulseGreen {
  animation: PulseGreen 3s ease-in-out;
}

@keyframes PulseRed {
  0% {
    border-color: hsl(0, 100%, 80%);
  }
  25% {
    border-color: hsl(0, 100%, 75%);
  }
  50% {
    border-color: hsl(0, 100%, 70%);
  }
  75% {
    border-color: hsl(0, 100%, 65%);
  }
  100% {
    border-color: hsl(0, 100%, 60%);
  }
}

@keyframes PulseGreen {
  0% {
    border-color: hsl(120, 100%, 85%);
  }
  25% {
    border-color: hsl(120, 100%, 80%);
  }
  50% {
    border-color: hsl(120, 100%, 75%);
  }
  75% {
    border-color: hsl(120, 100%, 70%);
  }
  100% {
    border-color: hsl(120, 100%, 60%);
  }
}
