:root {
  --main-: #b7ff54;
  --cardColor: #d4ff92;
  --accent1: #c6ff75;
  /* Tile color */
  --accent3: #c6ff75;
  /* Darker contrast greens */
  --pine: #235c2d;
  --darkGreen: #144d36;

  --textColor: #1a1a1a;
  --shadowColor: #3c3c3c;
}

/* Container that holds the LogSingin box */
.LogSignContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh; /* 100% - 12vh */
  width: 100vw;
}

/* The visable box that contains the text boxes */
.LogSignPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 65vh;
  background: var(--cardColor);
  border-radius: 15px;
  border: var(--darkGreen) solid 3px;
}

/* The Input is the text boxes the are used to send the username and password */

.input {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 13%;
}

.input input {
  border-radius: 20px;
  flex: 1;
  border: 5px solid transparent;
  background-color: var(--accent1);
  color: var(--textColor);
  font-family: "Roboto Mono", sans-serif;
  font-size: 1em;
  margin: 10px 0;
  outline: none;
}
.input.Gpulse input {
  animation: pulse-animationG 2.5s ease-in-out;
  border-radius: 5px;
}
.input.Rpulse input {
  animation: pulse-animationR 2.5s ease-in-out;
  border-radius: 5px;
}
/* The switch button */
.Switch {
  background-color: var(--pine);
  color: var(--main-);
  margin: 10px;
  border-radius: 50%;
  height: 10%;
  width: 10%;
  border: none;
  cursor: pointer;
}
/* The button that either logs the user in or signs them up */
.loginOrSign {
  height: 10%;
  width: 20%;
  background-color: var(--pine);
  color: var(--main-);
  border-radius: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

/* Animations to notifiy the user if something was successful */
.AnimatePulseRed {
  animation: PulseRed 3s ease-in-out;
}

.AnimatePulseGreen {
  animation: PulseGreen 3s ease-in-out;
}

@keyframes pulse-animationG {
  0% {
    border: 0px solid greenyellow;
  }
  50% {
    border: 5px solid greenyellow;
  }
  100% {
    border: 0px solid greenyellow;
  }
}

@keyframes pulse-animationR {
  0% {
    border: 0px solid red;
  }
  50% {
    border: 5px solid red;
  }
  100% {
    border: 0px solid red;
  }
}
