:root {
  --Dark-pink: hsl(340, 76%, 50%);
  --Light-pink: hsl(355, 100%, 81%);
  --Middle-Pink: #ff577e;
  /* Pink and blue are opposite on the color wheel */
  --Dark-Blue: rgb(0, 0, 128);
  --Cyan: rgb(43, 195, 226);
  --Light-Cyan: rgb(150, 195, 226);
  /* Netural silver blue */
  --Silver-Blue: rgb(200, 255, 250);
  /* Grid */
  --rows: 0;
  --cols: 0;
}

/* Container that holds the LogSingin box */
.LogSignContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh; /* 100% - 12vh */
  width: 100vw;
}

/* The visable box that contains the text boxes */
.LogSignPage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  width: 65vh;
  background: #070707;
  border-radius: 15px;
  border: #94cc44 solid 3px;
}

/* The Input is the text boxes the are used to send the username and password */

.input {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 13%;
}

.input input {
  border-radius: 2.5px;
  flex: 1;
  border: 5px solid transparent;
  background-color: #a9eb4c;
  margin: 10px 0;
}
.input.Gpulse input {
  animation: pulse-animationG 2.5s ease-in-out;
  border-radius: 5px;
}
.input.Rpulse input {
  animation: pulse-animationR 2.5s ease-in-out;
  border-radius: 5px;
}
/* The switch button */
.Switch {
  background-color: #739933;
  margin: 10px;
  border-radius: 5px;
  height: 10%;
  width: 10%;
  border: none;
}
/* The button that either logs the user in or signs them up */
.loginOrSign {
  height: 10%;
  width: 20%;
  background-color: #739933;
  border: 3.5px solid var(--Silver-Blue);
  border-radius: 5px;
  margin: 10px;
  border: none;
}

.grid {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 15px;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--cols), 1fr);
}

.tile-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 15px;
}

.tile {
  position: relative;
  width: 100%;
  height: 100%;

  border-radius: 15px;
  background-color: #7db62d;
  color: #7db62d;
  transform: scale(0);
}

/* Animations to notifiy the user if something was successful */
.AnimatePulseRed {
  animation: PulseRed 3s ease-in-out;
}

.AnimatePulseGreen {
  animation: PulseGreen 3s ease-in-out;
}

@keyframes pulse-animationG {
  0% {
    border: 0px solid greenyellow;
  }
  50% {
    border: 5px solid greenyellow;
  }
  100% {
    border: 0px solid greenyellow;
  }
}

@keyframes pulse-animationR {
  0% {
    border: 0px solid red;
  }
  50% {
    border: 5px solid red;
  }
  100% {
    border: 0px solid red;
  }
}
