body {
  background-color: #505963;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
/* Need to ajust fr for rows as more todos are added */
.ToDoContainer {
  display: grid;
  height: 100%;
  width: 100vw;
  gap: 100px;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  grid-template-rows: repeat(3, 1fr); /* Three equal rows */
  background-color: hsl(0, 5%, 10%);
  border-color: #000000;
}

.grid-item {
  margin: 50px;
  aspect-ratio: 1 / 1;
  background-color: hsl(0, 5%, 15%);
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
}

.Creator {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 5%, 15%);
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
}
