body {
  background-color: #3f3f3f;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* Need to ajust fr for rows as more todos are added */
.ToDoContainer {
  display: grid;
  height: 100%;
  width: 100vw;
  gap: 100px;
  grid-template-columns: repeat(4, 1fr); /* Three equal columns */
  grid-template-rows: repeat(2, 1fr); /* Three equal rows */
  background-color: hsl(0, 5%, 10%);
  border-color: #000000;
}

.grid-item {
  position: relative;
  margin: 75px;
  aspect-ratio: 1 / 1;
  background-color: hsl(0, 5%, 15%);
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
  height: 150px;
  width: 150px;
}

.grid-item.inspected {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 100%, 50%);
  height: 800px;
  width: 800px;
}

/* Buttons for the indvidual tasks */
.TaskLeft button {
  position: absolute;
  background-color: greenyellow;
  border: none;
  opacity: 0.5;
  height: 100%;
  width: 50%;
  bottom: 0;
  left: 0;
}

.TaskRight button {
  position: absolute;
  background-color: gray;
  border: none;
  opacity: 0.5;
  height: 100%;
  width: 50%;
  bottom: 0;
  right: 0;
}

/* Create todo styles */

.Creator {
  position: absolute;
  width: 90vw;
  height: 90vh;

  display: flex;
  flex-direction: column;

  background-color: hsl(0, 5%, 15%);
  color: #ffffff;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Add {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#Reset {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Left and right nav */

#HeaderTask {
  height: 100px;
}
