body {
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

#ContainerHeader {
  color: #ffffff;
  background-color: hsl(0, 0%, 0%);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Need to ajust fr for rows as more todos are added */
.ToDoContainer {
  display: grid;
  height: 100%;
  width: 100vw;
  gap: 100px;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  grid-template-rows: repeat(3, 1fr); /* Three equal rows */
  background-color: hsl(0, 5%, 10%);
  border-color: #000000;
}

.grid-item {
  margin: 75px;
  aspect-ratio: 1 / 1;
  background-color: hsl(0, 5%, 15%);
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
}

/* Create todo styles */

.Creator {
  position: absolute;
  width: 90vw;
  height: 90vh;

  background-color: hsl(0, 5%, 15%);
  color: #ffffff;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Add {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#Reset {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Left and right nav */

#Left {
  height: 100%;
  width: 50px;
  position: fixed;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

#Right {
  position: fixed;
  height: 100%;
  width: 50px;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
